
.conteiner{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.txt{
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}
.menu{
    display: flex;
    padding-right: 195px;
}
.menu li{
    list-style-type: none; 
}
.logo{
    padding-left: 212px;
}
.menu a{
    text-decoration: none;
    color: white;
    padding: 23px;
}
.menu a:hover{
    background: #643a79;
}
.text{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 96px;
    font-size: 200%;
    tab-size: 8;
    text-align: center;
}
.button{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: relative;
}
.button_text{
    margin-top: 11px;
    color: white;
    position: absolute;
}
.page_1{
    background-color: #87509c;
    height: 596px;
}
body{
    margin: 0px;
}
.page_2{
    background-color:#17c2a4 ;
    height: 748px;
}
.text_2 h2{
    display: flex;
    margin-top: 120px;
}
.text_2{
    display: flex;
    color: white;
    font-size: 28px;
   justify-content: center;
}
.line{
    display: flex;
    justify-content: center;
}
.txt_2{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size:15px;
}
.txt_2 p{
    font-size: 18px;
}
.logos{
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: 255px;
    margin-right: 255px;
    margin-top: 83px;
    object-fit: contain;
}
.logos img{
    height: 120px;
}
.page_3{
    
    height: 915px;
    background-color: #e7f1f8;
}
.text_3{
    text-align: center;
    color: #3c4761;
}
.text_3 h1{
    margin: 0px;
    padding-top: 120px;
    font-size: 250%;
}
.text_3 p{
    font-size: 18px;
}
.team{
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    color: #3c4761;
    margin-right: 200px;
    margin-left: 200px;
    text-align: center;
}
.team h4{
    color: #48c1e9;
}
.page_4{
    height: 650px;
}
.text_4{
    text-align: center;
    padding-top: 120px;
    color: #3c4761;
}
.text_4 h2{
    font-size: 250%;
    margin: 0px;
}
.text_4 a{
    font-size: 18px;
}
.ring90{
    width: 160px;
    height: 160px;
    background-image: url(../picturs/90.png);
    display: flex;
    align-items: center;
    text-align: center;
}
.ring90 img{
    margin: auto;
    
}
.rings{
    padding-top: 86px;
    display: flex;
    justify-content: space-around;
    object-fit: contain;
    padding-left: 219px;
    padding-right: 219px;
}
.rings h4{
    display: flex;
    justify-content: center;
}
.ring75{
    width: 160px;
    height: 160px;
    background-image: url(../picturs/75.png);
    display: flex;
    align-items: center;
    text-align: center;
}
.ring75 img{
    margin: auto;
}
.ring70{
    width: 160px;
    height: 160px;
    background-image: url(../picturs/70.png);
    display: flex;
    align-items: center;
    text-align: center;
}
.ring70 img{
    text-align: center;
    margin: auto;
}
.ring85{
    width: 160px;
    height: 160px;
    background-image: url(../picturs/85.png);
    display: flex;
    align-items: center;
    text-align: center;
}
.ring85 img{
    margin: auto;
}
.page_5{
    height: 1420px;
    background-color: #ffdd99;
}
.text_5{
    text-align: center;
    color: #393939;
    padding-top: 120px;
}
.text_5 p{
    font-size: 18px;
}
.text_5 h2{
    font-size: 250%;
    margin: 0px;
}
.icon a:hover{
    background-color: white;
}
.icon a {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: #ebc985;
    margin: 5px;
    border-radius: 10px;
}
.icon {
    padding: 40px;
}
.laptop{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-right: 150px;
    padding-left: 150px;
}
.laptop h3{
    margin-bottom: 65px;
}
.button{
    background-image: url("../picturs/button1.png");
    height: 70px;
    width: 293px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
}
.button p{
    margin: auto;
    font-size: 18px;
    color: white;
}
.page_6{
    height: 896px;
    background-color: #d74680;
}
.text_6 h2{
    margin: 0px;
    font-size: 250%;
}
.text_6 p{
    font-size: 18px;
}
.text_6{
    text-align: center;
    color: #ffffff;
    padding-top: 120px;
}
.about img{
    width: 100px;
    height: 100px;
    margin: 30px;
}
.about p{
    font-size: 18px;
}
.about{
    display: flex;
    justify-content:space-evenly;
    color: white;
}
.work{
    color: #ffdd99;
    margin-top: 3px;
}
.item_1{
    display: flex;
}
.txt_about{
    font-style: oblique;
}
.about h2{
    margin-bottom: 0px;
}
.second{
    margin-top: 90px;
}
.page_7{
    height: 819px;
    background: #3c5499;
    z-index: -2;
}
.text_7{
    text-align: center;
    padding-top: 120px;
    color: white;
}
.text_7 h2{
    font-size: 40px;
    margin: 0px;
}
.text_7 p {
    font-size: 18px;
    line-height: 1.44;
}
.line_1{
    display: flex;
    justify-content: center;
}
.input{
    position: relative;
    margin: 0 32px 27px 0;
    display: flex;
    justify-content: center;
}
input[type=name],
    input[type=email]{
        height: 56px;
        width: 414px;
    }
textarea{
    height: 200px;
    width: 860px;
    border-radius: 6px;
    box-shadow: 0 5px 18px #3399ff;
    background-color: #273a71;
    border: 0px;
    padding: 0px;
    resize: vertical;
}
input{
    padding: 0px;
    border: 0px;
    outline: none;
    transition: 0.6ms;
    border-radius: 6px;
    background-color: #273a71;
    box-shadow: 0 5px 18px #3399ff;
}

::placeholder{
    font-size: 18px;
    padding-right: 10px;
}
.forma{
    margin-top: 56px;
}

::-webkit-resizer{
    background: url(picturs/Arrow.png);
}
input:focus{
    box-shadow: 0 5px 18px #ffffff;
}
textarea:focus{
    box-shadow: 0 5px 18px #ffffff;
    border: 0px;
}
.button_7{
    width: 293px;
    height: 70px;
    display: flex;
    justify-content: center;
}
