
.conteiner{
    display: flex;
    flex: 1;
    justify-content: space-around;
    border-top: 33px;
}
.txt{
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-left: 500px;
    margin-right: 195px;
}
.menu li{
    list-style-type: none;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu li:hover{
    background: #643a79;
}
.logo{
    position: left;
    margin-left: 212px;
}
.text{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 96px;
    font-size: 200%;
    tab-size: 8;
    text-align: center;
}
.button{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: relative;
}
.button_text{
    margin-top: 11px;
    color: white;
    position: absolute;
}
.page_1{
    background-color: #87509c;
    height: 596px;
}
body{
    margin: 0px;
}
.page_2{
    background-color:#17c2a4 ;
    height: 748px;
}
.text_2 h2{
    display: flex;
    margin-top: 120px;
}
.text_2{
    display: flex;
    color: white;
    font-size: 28px;
   justify-content: center;
}
.line{
    display: flex;
    justify-content: center;
}
.txt_2{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size:15px;
}
.txt_2 p{
    font-size: 18px;
}
.logos{
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: 255px;
    margin-right: 255px;
    margin-top: 83px;
}
.page_3{
    
    height: 915px;
    background-color: #e7f1f8;
}
.text_3{
    text-align: center;
    color: #3c4761;
}
.text_3 h1{
    margin: 0px;
    padding-top: 120px;
    font-size: 250%;
}
.text_3 p{
    font-size: 18px;
}
.team{
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    color: #3c4761;
    margin-right: 200px;
    margin-left: 200px;
    text-align: center;
}
.team h4{
    color: #48c1e9;
}
.page_4{
    height: 650px;
}
.text_4{
    text-align: center;
    padding-top: 120px;
    color: #3c4761;
}
.text_4 h2{
    font-size: 250%;
}
.text_4 p{
    font-size: 18px;
}
.a1{
}
.a2{
    position: relative;
    bottom: 100px;
    left: 46px;
}
.r90 h2{
    position: relative;
    bottom: 45px;
}